<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novus.preuvirtual" >
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomThemeMA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimeAttack"
            android:label="@string/title_activity_time_attack"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Tiempo"
            android:label="@string/title_activity_tiempo"
            android:parentActivityName=".TimeAttack"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".PlayTimeAttack"
            android:label="@string/title_activity_play_time_attack"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Tiempo"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".Resultados"
            android:label="@string/title_activity_resultados"
            android:parentActivityName=".TimeAttack"
            >
        </activity>
        <activity
            android:name=".Revision"
            android:label="@string/title_activity_revision"
            android:parentActivityName=".Resultados" >
        </activity>
    </application>

</manifest>
